<div class="album-container">
    <h1>Albums List</h1>
    <div class="albums-container">
        <div *ngFor="let album of albums" class="albums-item">
            <a [title]="'album: ' + album.id + ' details'" [routerLink]="['/albums', album.id]">
                    <h2>Title: {{ album.title }}</h2>
                    <h3>User ID: {{ album.userId }}</h3>
                    <h3>Album ID: {{ album.id }}</h3>
                </a>
                    <button class="remove-btn" (click)="removeAlbum(album.id)">Remove</button>
        </div>
    </div>
</div>